<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Google Font Downloader</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

<h1>Google Font Downloader</h1>

<table class="table table-striped">
  <tr>
    <td>Name</td>
    <td>Path</td>
  </tr>

  {{#each fonts}}
  <tr>
    <td><a href="{{this._links.html}}">{{this.name}}</a></td>
    <td>
      <ul>
        {{#each downloads}}
          <li><a href="{{this}}">{{@key}}</a></li>
        {{/each}}
      </ul>
    </td>
  </tr>
  {{/each}}

</table>
</body>
</html>
